@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url("/fonts/SairaExtraCondensed-Black.ttf") format("truetype");
  font-weight: 900;
}

body {
  margin: 0;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 18px;
  color: Silver;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.leftSideBar {
  position: absolute;
  top: 1rem;
  z-index: 2;
  pointer-events: none;
}

.connectForm {
  margin-left: 1rem;
}

.connectLabel {
  color: #fff;
  font-weight: 500;
}

#robotUrl {
  border-bottom: 1px dashed DarkGray;
  pointer-events: auto;
}

#robotUrl:focus {
  outline: none;
}

#connectButton {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  border: 1px solid Silver;
  border-bottom: 3px solid Silver;
  border-right: 3px solid Silver;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
  pointer-events: auto;
}

#connectButton:hover {
  color: White;
  border-color: White;
}

#telemetry {
  color: Silver;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#canvas {
  position: absolute;
  z-index: 1;
}

.telemetryItemContainer {
  margin-left: 1rem;
}

.telemetryItem {
  position: relative;
  width: fit-content;
  color: #fff;
}

.telemetryItemName {
  font-weight: 500;
}

.telemetryItemValue {
  font-weight: 100;
}

.telemetryItemShortcut {
  color: Silver;
  border: 1px solid Silver;
  border-bottom: 3px solid Silver;
  border-right: 3px solid Silver;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  pointer-events: auto;
}

.telemetryItemShortcut:hover {
  color: White;
  border-color: White;
}

.pressed {
  border-bottom-width: 1px;
  border-right-width: 1px;
}
